@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #030303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #050404;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

li{
  list-style: none;
}

@import '~@splidejs/splide/dist/css/splide.min.css';

.splide__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px; 
}

.splide__arrow {
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
}

/* add to cart button */

.cart-button {
  display: none; 
}

.image-container:hover .cart-button {
  display: block; 
}





.active-link {
  color: #fe6201; 
  font-weight: bold; 
}

